a, a:visited {
  font-size: 1em;
  line-height: 1.45;
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(27, 47, 47, 0.915);
}

a:hover {
  color: rgba(27, 47, 47, 0.545);
}

body {
  background-color: #F4F3EC;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(27, 47, 47);
}

h1 {
  font-size: 2.197em;
  line-height: 1;
}

h2 {
  margin: auto;
  font-size: 1.69em;
  line-height: 1;
}

img {
  margin-bottom: 1%;
  width: 100%;
  height: auto;
}

li, p {
  margin: auto;
  font-size: 1.3em;
  line-height: 1.45;
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(27, 47, 47);
}

p {
  margin-top: .5em;
}

ul, ol {
  margin-block-start: .55em;
}

.text-content {
  margin: 5% auto;
  width: 85%;
}

@media only screen and (min-width: 768px) {
  /* For tablets and up: */
  .text-content {
    width: 50%;
  }
}

.title {
  text-align: center;
}